<div class="header-main container">
	<div class="row">
		<div class="header-title span-3">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
		<nav class="template-nav span-9">
			{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
		</nav>
	</div>
</div>
