{% extends "layout.twig" %}
{% block content %}

	<header class="template-header">
		{% include "header.twig" %}
		<div class="header-feature">
			<div class="container">
				{{widget('feature', 'featurewidget', {"header": "profile", "strapline":"profile", "buttonText":"MAECENAS","defaultBgImg": asset('images/feature-bg.jpg'), 'showBtn': true})|raw}}
			</div>
		</div>
	</header>

	<div class="container page-wrap">

		<section class="section main home-page">
			{{zone('main')|raw}}
		</section>

{% endblock %}